.container {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(59,1fr);
    height: auto;
    width: auto;

     }



#div1 {
    grid-column: 1/10;
    grid-row: 1/15;
    background-color: #eb171f;
    border: black 3px solid;
}


#div2 {
    grid-column: 4/7;
    grid-row: 4/11;
    background-color: white;
    display:flex;
    align-items: center;
    border: black 7px solid;
    justify-content: center;

}

#div2 p{
    font-size: 30px;
    color: Black;
}
#div3 {
     grid-column: 1/5;
     grid-row: 15/48;
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 100px;
     padding-bottom: 50px;
     background-color:  #eb171f;    
     border: black solid 3px;
}
#div3 p {
    color: white;
    font-size: 20px;
    font-style: oblique;
}


#slider-section {
    grid-column: 5 / 10;
    grid-row: 15 / 48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff5f5;
    color: #b30000;
    padding: 10px;
    text-align: center;
    gap: 20px;
    border: black solid 3px;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.image-slider {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image-slider img.active {
    opacity: 1;
}

button {
    background-color: #b30000;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

button:hover {
    background-color: #800000;
}

#footer {
    grid-column: 1/4;
    grid-row: 48/60;
    background-color: #eb171f;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    border-left: black solid 3px;
}

#footer li {
    padding-left: 40px;  
    padding-top: 30px;  
    color: white;
}

/* Add this to style the link inside the footer */
#footer a {
    color: black;
    text-decoration: none;
}

/* Optional: keep it green on hover, visited, and active */
#footer a:visited,
#footer a:hover,
#footer a:active {
    color: white;
    text-decoration: none;
}

#footer2 {
    grid-column: 4/10;
    grid-row: 48/60;
    background-color: #eb171f;
    border-bottom: black solid 3px;
    border-right: black solid 3px;
    border-top: black solid 3px;
}

#footer2 li {
    padding-left: 40px;  
    padding-top: 30px;  
    color: white;
}

/* Add this to style the link inside the footer */
#footer2 a {
    color: white;
    text-decoration: none;
}

/* Optional: keep it green on hover, visited, and active */
#footer2 a:visited,
#footer2 a:hover,
#footer2 a:active {
    color: white;
    text-decoration: none;
}


